# dependencies
node_modules/
backend/node_modules/
ecommerce-website/node_modules/

# env files
.env
backend/.env
ecommerce-website/.env

# build folders
dist/
build/
ecommerce-website/dist/

# uploads
backend/uploads/

# logs
npm-debug.log*is it added
